<form
  [formGroup]="chartForm"
  (ngSubmit)="chartFormSubmitted.emit(chartForm)"
>
  <div class="form-group">
    <label>
      Chart Name:
      <input
        formControlName="chartName"
        type="text"
        class="form-control"
      />
    </label>
    <label>
      Chart Type:
      <select
        formControlName="chartType"
        name="chartType" 
        id="chartType"
        class="form-control"
      >
        <option value="bar">Bar</option>
        <option value="line">Line</option>
        <option value="pie">Pie</option>
        <option value="doughnut">Doutghnut</option>
        <option value="polarArea">Polar Area</option>
      </select>
    </label>
  </div>
  <div
    formArrayName="xAxisData"
    class="form-group"
  >
    <button
      (click)="addXAxisData.emit()"
      type="button"
      class="btn btn-success mb-2 w-100"
    >
      Add X Axis Label
    </button>
    <div class="btn-group mb-2 w-100" role="group">
      <button
        (click)="addMetricToAllXLabels.emit()"
        type="button"
        class="btn btn-info btn-secondary"
      >
        Add Metric
      </button>
      <button
        (click)="deleteMetric.emit()"
        type="button"
        class="btn btn-danger btn-secondary"
      >
        Delete Metric
      </button>
    </div>
    <div
      *ngFor="let xAxisData of chartForm.get('xAxisData').controls; let i = index;"
      [formGroupName]="i"
      class="form-group"
    >
      <input
        formControlName="xLabel"
        type="text"
        placeholder="x axis label"
        class="form-control"
      />
      <div
        formArrayName="data"
      >
        <div
          *ngFor="let dataPoint of xAxisData.get('data').controls; let j = index"
          [formGroupName]="j"
          class="form-inline mt-1 ml-2"
        >
          <input
            formControlName="metricLabel"
            placeholder="metric"
            type="text"
            class="form-control form-control-sm w-50"
          >
          <input
            formControlName="metricValue"
            placeholder="value"
            type="number"
            class="form-control form-control-sm w-50"
          >
        </div>
      </div>
      <button
        (click)="deleteXAxisData.emit(i)"
        type="button"
        class="btn btn-danger mt-1"
      >
        Delete
      </button>
    </div>
  </div>
  <div class="form-group">
    <hr>
      <button
      [disabled]="!chartForm.valid"
      type="submit"
      class="btn btn-primary col-12 mb-1"
    >
      Submit
    </button>
  </div>
</form>